
# Python Crash Course


This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers
$x^2+y^2=c^2$

In [3]:
'Shift'+'Enter'
'Alt'+'Enter'

'AltEnter'

In [4]:
1 + 1

2

In [5]:
1 * 3

3

In [6]:
1 / 2

0.5

In [7]:
2 ** 4

16

In [8]:
4 % 2

0

In [9]:
5 % 2

1

In [10]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [11]:
# Can not start with number or special characters
name_of_var = 2

In [12]:
x = 2
y = 3

In [13]:
z = x + y

In [14]:
z

5

### Strings

In [15]:
'single quotes'

'single quotes'

In [16]:
"double quotes"

'double quotes'

In [17]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [18]:
x = 'hello'

In [19]:
x

'hello'

In [20]:
print(x)

hello

In [21]:
num = 12
name = 'Sam'

In [22]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [23]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [24]:
[1,2,3]

[1, 2, 3]

In [25]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [26]:
my_list = ['a','b','c']

In [27]:
my_list.append('d')

In [28]:
my_list

['a', 'b', 'c', 'd']

In [29]:
my_list[0]

'a'

In [30]:
my_list[1]

'b'

In [31]:
my_list[1:]

['b', 'c', 'd']

In [32]:
my_list[:1]

['a']

In [33]:
my_list[0] = 'NEW'

In [34]:
my_list

['NEW', 'b', 'c', 'd']

In [35]:
nest = [1,2,3,[4,5,['target']]]

In [36]:
nest[3]

[4, 5, ['target']]

In [37]:
nest[3][2]

['target']

In [38]:
nest[3][2][0]

'target'

### Dictionaries

In [39]:
d = {'key1':'item1','key2':'item2'}

In [40]:
d

{'key1': 'item1', 'key2': 'item2'}

In [41]:
d['key1']

'item1'

### Booleans

In [42]:
True

True

In [43]:
False

False

### Tuples

In [44]:
t = (1,2,3)

In [45]:
t[0]

1

In [46]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [47]:
{1,2,3}

{1, 2, 3}

In [48]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators Операторы сравнения

In [49]:
1 > 2

False

In [50]:
1 < 2

True

In [51]:
1 >= 1

True

In [52]:
1 <= 4

True

In [53]:
1 == 1

True

In [54]:
'hi' == 'bye'

False

In [55]:
x * x < 1000

TypeError: can't multiply sequence by non-int of type 'str'

In [56]:
2 * x != y

True

## Logic Operators Логические операторы

In [57]:
(1 > 2) and (2 < 3)

False

In [58]:
(2 < 3) and (1 > 2)

False

In [59]:
(1 > 2) or (2 < 3)

True

In [60]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [63]:
n = 5
m = 1

In [64]:
n % 2 == 0 and m % 2 == 0

False

In [65]:
a, b, c = 3, 3, 3
a == b == c
x = 11
1 <= x <= 10

False

## if,elif, else Statements

In [66]:
if 1 < 2:
    print('Yep!')

Yep!

In [67]:
if 1 < 2:
    print('yep!')

yep!

In [68]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [69]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [70]:
Каскадные условные инструкции

SyntaxError: invalid syntax (2902953047.py, line 1)

In [71]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [73]:
if not (b < 0):
    print(b >= 0)

True

In [74]:
a = int(input())
b = int(input())
if a % 10 == 0 or b % 10 == 0:
    print('YES')
else:
    print('NO')

 15
 100

YES

## for Loops

In [75]:
for i in 1, 2, 3, 'one', 'two', 'three':
    print(i)

1
2
3
one
two
three

In [76]:
seq = [1,2,3,4,5]

In [77]:
for item in seq:
    print(item)

1
2
3
4
5

In [78]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [79]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [80]:
for i in range(4):  # равносильно инструкции for i in 0, 1, 2, 3:
    # здесь можно выполнять циклические действия
    print(i)
    print(i ** 2)
# цикл закончился, поскольку закончился блок с отступом
print('Конец цикла')

0
0
1
1
2
4
3
9
Конец цикла

In [82]:
for i in range(len(seq)):
    print(seq[i])

1
2
3
4
5

In [83]:
sum = 0
n = 5
for i in range(1, n + 1):
    sum += i
print(sum)

15

In [84]:
# Настройка функции print()

In [85]:
print(1, 2, 3)
print(4, 5, 6)
print(1, 2, 3, sep=', ', end='. ')
print(4, 5, 6, sep=', ', end='. ')
print()
print(1, 2, 3, sep='', end=' -- ')
print(4, 5, 6, sep=' * ', end='.')

1 2 3
4 5 6
1, 2, 3. 4, 5, 6.
123 -- 4 * 5 * 6.

## while Loops

In [86]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [87]:
i = 1
while i <= 10:
    print(i ** 2)

    i += 1

1
4
9
16
25
36
49
64
81
100

In [92]:
i = 1
while i <= 10:
    print(i)
    i += 1
else:
    print('Цикл окончен, i =', i)

1
2
3
4
5
6
7
8
9
10
Цикл окончен, i = 11

In [93]:
a = int(input())
while a != 0:
    if a < 0:
        print('Встретилось отрицательное число', a)
        break
    a = int(input())
else:
    print('Ни одного отрицательного числа не встретилось')

 4322
 432432
 2
 534543
 -3

Встретилось отрицательное число -3

In [94]:
n = int(input())
length = 0
while n != 0:
    length += 1
    n //= 10
print('Длина числа равна', length)

 432523523

Длина числа равна 9

In [95]:
n = int(input())
print('Длина числа равна', len(str(n)))

 54354343

Длина числа равна 8

## range()

In [96]:
range(5)

range(0, 5)

In [97]:
for i in range(5):
    print(i)

0
1
2
3
4

In [98]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [99]:
x = [1,2,3,4]

In [100]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [101]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [102]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [103]:
my_func

In [104]:
my_func()

default

In [105]:
my_func('new param')

new param

In [106]:
my_func(param1='new param')

new param

In [107]:
def square(x):
    return x**2

In [108]:
out = square(2)

In [109]:
print(out)

4

## lambda expressions

In [110]:
def times2(var):
    return var*2

In [111]:
times2(2)

4

In [112]:
lambda var: var*2

## map and filter

In [113]:
seq = [1,2,3,4,5]

In [114]:
map(times2,seq)

In [115]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [116]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [117]:
filter(lambda item: item%2 == 0,seq)

In [118]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [119]:
st = 'hello my name is Sam'

In [120]:
st.lower()

'hello my name is sam'

In [121]:
st.upper()

'HELLO MY NAME IS SAM'

In [122]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [123]:
tweet = 'Go Sports! #Sports'

In [124]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [125]:
tweet.split('#')[1]

'Sports'

In [126]:
d

{'key1': 'item1', 'key2': 'item2'}

In [127]:
d.keys()

dict_keys(['key1', 'key2'])

In [128]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [129]:
lst = [1,2,3]

In [130]:
lst.pop()

3

In [131]:
lst

[1, 2]

In [132]:
'x' in [1,2,3]

False

In [133]:
'x' in ['x','y','z']

True