# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [1]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [2]:
pd.read_csv('example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
df = pd.read_csv('example1.csv',sep='.')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int64
 1   b       4 non-null      int64
 2   c       4 non-null      int64
 3   d       4 non-null      int64
dtypes: int64(4)
memory usage: 260.0 bytes

### CSV Output

In [7]:
df.to_csv('example2.csv',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [9]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Excel Output

In [10]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1',index=False)

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [11]:
df = pd.read_html('https://nationalbank.kz/ru/exchangerates/ezhednevnye-oficialnye-rynochnye-kursy-valyut')

In [12]:
len(df)

1

In [15]:
df[0][[1,2,3]]

                                             1          2        3
0                       1 АВСТРАЛИЙСКИЙ ДОЛЛАР  AUD / KZT   318.55
1                      1 АЗЕРБАЙДЖАНСКИЙ МАНАТ  AZN / KZT   281.68
2                            10 АРМЯНСКИЙ ДРАМ  AMD / KZT    12.36
3                          1 БЕЛОРУССКИЙ РУБЛЬ  BYN / KZT   146.18
4                           1 БРАЗИЛЬСКИЙ РЕАЛ  BRL / KZT    85.49
5                       10 ВЕНГЕРСКИХ ФОРИНТОВ  HUF / KZT    13.28
6                         1 ГОНКОНГСКИЙ ДОЛЛАР  HKD / KZT    61.24
7                            1 ГРУЗИНСКИЙ ЛАРИ  GEL / KZT   178.82
8                              1 ДАТСКАЯ КРОНА  DKK / KZT    70.65
9                                 1 ДИРХАМ ОАЭ  AED / KZT   130.00
10                                1 ДОЛЛАР США  USD / KZT   477.45
11                                      1 ЕВРО  EUR / KZT   527.10
12                           1 ИНДИЙСКАЯ РУПИЯ  INR / KZT     5.69
13                          1000 ИРАНСКИЙ РИАЛ  IRR / KZT    11.40
14                          1 КАНАДСКИЙ ДОЛЛАР  CAD / KZT   351.92
15                            1 КИТАЙСКИЙ ЮАНЬ  CNY / KZT    67.07
16                          1 КУВЕЙТСКИЙ ДИНАР  KWD / KZT  1563.26
17                            1 КЫРГЫЗСКИЙ СОМ  KGS / KZT     5.67
18                       1 МАЛАЗИЙСКИЙ РИНГГИТ  MYR / KZT   110.01
19                         1 МЕКСИКАНСКИЙ ПЕСО  MXN / KZT    24.01
20                            1 МОЛДАВСКИЙ ЛЕЙ  MDL / KZT    27.63
21                          1 НОРВЕЖСКАЯ КРОНА  NOK / KZT    44.29
22                           1 ПОЛЬСКИЙ ЗЛОТЫЙ  PLN / KZT   123.09
23                    1 РИЯЛ САУДОВСКОЙ АРАВИИ  SAR / KZT   127.26
24                          1 РОССИЙСКИЙ РУБЛЬ  RUB / KZT     5.24
25                                       1 СДР  XDR / KZT   641.96
26                       1 СИНГАПУРСКИЙ ДОЛЛАР  SGD / KZT   366.03
27                         1 ТАДЖИКСКИЙ СОМОНИ  TJS / KZT    44.96
28                               1 ТАЙСКИЙ БАТ  THB / KZT    14.15
29                             1 ТУРЕЦКАЯ ЛИРА  TRY / KZT    14.02
30                         100 УЗБЕКСКИХ СУМОВ  UZS / KZT     3.78
31                         1 УКРАИНСКАЯ ГРИВНА  UAH / KZT    11.60
32  1 ФУНТ СТЕРЛИНГОВ СОЕДИНЕННОГО КОРОЛЕВСТВА  GBP / KZT   625.41
33                             1 ЧЕШСКАЯ КРОНА  CZK / KZT    21.02
34                            1 ШВЕДСКАЯ КРОНА  SEK / KZT    46.12
35                         1 ШВЕЙЦАРСКИЙ ФРАНК  CHF / KZT   563.36
36                     1 ЮЖНО-АФРИКАНСКИЙ РАНД  ZAR / KZT    26.72
37                      100 ЮЖНО-КОРЕЙСКИХ ВОН  KRW / KZT    35.61
38                             1 ЯПОНСКАЯ ЙЕНА  JPY / KZT     3.34

____

_____
_____
# SQL (Optional)

* Note: If you are completely unfamiliar with SQL you can check out my other course: "Complete SQL Bootcamp" to learn SQL.

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///:memory:')

In [ ]:
df.to_sql('data', engine)

In [ ]:
sql_df = pd.read_sql('data',con=engine)

In [ ]:
sql_df